img{
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 140px;
    flex-wrap: wrap;
  }
.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #003f66;
    gap: 35px;
    flex-wrap: wrap;
    margin-bottom: 170px;
}
.Home h1{
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    color: #f1c40f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
.Home p{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    flex-wrap: wrap;
    color: #ecf0f1;
    line-height: 1.6;
}

